name: Build CYFS Gateway for Linux
on: 
    workflow_call:
        inputs:
            arch:
                required: true
                type: string
            enable_tests:
                required: false
                type: boolean
                default: false
        outputs:
            full_version:
                value: ${{jobs.build.outputs.full_version}}
            short_version:
                value: ${{jobs.build.outputs.short_version}}
jobs:
  build:
    name: build
    runs-on: ${{ inputs.arch == 'aarch64' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup pnpm
      uses: pnpm/action-setup@v4
      with:
        version: "latest"
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22.x'
    - name: Setup Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable
        targets: ${{inputs.arch}}-unknown-linux-${{inputs.arch == 'aarch64' && 'gnu' || 'musl'}}
    - name: Setup Needed Packages
      if: ${{ inputs.arch == 'x86_64' }}
      run: |
          sudo apt update
          sudo apt install -y musl-tools
    - name: cargo test
      working-directory: ./src
      if: ${{inputs.enable_tests == 'true'}}
      run: cargo test -- --test-threads=1
    - name: install buckyos devkit
      run: pip install "buckyos-devkit @ git+https://github.com/buckyos/buckyos-devkit.git"
    - name: build buckyos
      working-directory: ./src
      run: buckyos-build
    - name: Tar Rootfs
      run:
        cd ./src/rootfs && tar -czvf ../../gateway-linux-${{inputs.arch == 'x86_64' && 'amd64' || 'aarch64'}}.tar.gz .
    - name: Package Web3 Gateway
      if: ${{ inputs.arch == 'x86_64' }}
      run: |
            tar -czvf web3-gateway-amd64.tar.gz -C ./src web3-gateway
    - name: Get Version
      id: get_version
      run: |
        full_version=`./src/rootfs/bin/cyfs-gateway/cyfs_gateway --version|grep -oP '\d+(?:\.\d+)*\+build\S+'`
        echo "full_version=$full_version" >> $GITHUB_OUTPUT
        short_version=`./src/rootfs/bin/cyfs-gateway/cyfs_gateway --version|grep -oP '\d+(?:\.\d+)*\+build\d+'`
        echo "short_version=$short_version" >> $GITHUB_OUTPUT
    - name: Upload
      uses: actions/upload-artifact@v4
      id: upload
      with:
        name: gateway-linux-${{inputs.arch == 'x86_64' && 'amd64' || 'aarch64'}}
        path: gateway-linux-${{inputs.arch == 'x86_64' && 'amd64' || 'aarch64'}}.tar.gz
        if-no-files-found: error
    - name: Upload Web3 Gateway Artifact
      if: ${{ inputs.arch == 'x86_64' }}
      uses: actions/upload-artifact@v4
      id: upload_web3
      with:
        name: web3-gateway-amd64
        path: web3-gateway-amd64.tar.gz
        if-no-files-found: error
    outputs:
      full_version: ${{ steps.get_version.outputs.full_version }}
      short_version: ${{ steps.get_version.outputs.short_version }}

