name: Build CYFS Gateway for Windows
on: 
    workflow_call:
        inputs:
            arch:
                required: true
                type: string
            enable_tests:
                required: false
                type: boolean
                default: false

jobs:
  build:
    name: build
    runs-on: ${{ inputs.arch == 'aarch64' && 'windows-11-arm' || 'windows-2025' }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup pnpm
      uses: pnpm/action-setup@v4
      with:
        version: "latest"
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22.x'
    - name: Setup Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable
        targets: ${{inputs.arch}}-pc-windows-msvc
    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
    - uses: actions/setup-python@v6
      with:
        python-version: '3.11' 
    - name: cargo test
      working-directory: ./src
      if: ${{inputs.enable_tests == true}}
      run: cargo test -- --test-threads=1
    - name: install buckyos devkit
      run: pip install "buckyos-devkit @ git+https://github.com/buckyos/buckyos-devkit.git"
    - name: build buckyos
      working-directory: ./src
      run: buckyos-build
      env:
        PYTHONIOENCODING: 'utf-8'
        PYTHONLEGACYWINDOWSSTDIO: "utf-8"
    - name: Tar Rootfs
      run:
        cd .\src\rootfs && tar -czvf ../../gateway-windows-${{inputs.arch == 'x86_64' && 'amd64' || 'aarch64'}}.tar.gz .
    - name: Upload
      id: upload
      uses: actions/upload-artifact@v4
      with:
        name: gateway-windows-${{inputs.arch == 'x86_64' && 'amd64' || 'aarch64'}}
        path: gateway-windows-${{inputs.arch == 'x86_64' && 'amd64' || 'aarch64'}}.tar.gz
        if-no-files-found: error
