name: Build Cyfa Gateway on All Platforms

on:
  workflow_dispatch:
      inputs:
          enable_tests:
              description: 'Enable cargo tests during build'
              required: false
              type: boolean
              default: false
  workflow_call:
      inputs:
          enable_tests:
              description: 'Enable cargo tests during build'
              required: false
              type: boolean
              default: false

permissions:
  contents: write

jobs:
  build-windows:
    strategy:
      matrix:
        arch: ["x86_64", "aarch64"]
    uses: ./.github/workflows/build-windows.yml
    with:
      arch: ${{ matrix.arch }}
      enable_tests: ${{inputs.enable_tests}}
    secrets: inherit
  build-linux:
    strategy:
      matrix:
        arch: ["x86_64", "aarch64"]
    uses: ./.github/workflows/build-linux.yml
    with:
      arch: ${{ matrix.arch }}
      enable_tests: ${{inputs.enable_tests}}
    secrets: inherit
  build-macos:
    strategy:
      matrix:
        arch: ["x86_64", "aarch64"]
    uses: ./.github/workflows/build-macos.yml
    with:
      arch: ${{ matrix.arch }}
      enable_tests: ${{inputs.enable_tests}}
    secrets: inherit
  publish-release:
    needs: [build-windows, build-linux, build-macos]
    runs-on: ubuntu-latest
    steps:
    - name: Download All Artifacts
      uses: actions/download-artifact@v5
      with: 
        merge-multiple: true
    - name: List Files
      run: ls -alh .
    - name: Create Github Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: cyfs-gateway-${{job.build-linux.outputs.full_version}}
        name: CYFS Gateway Release ${{job.build-linux.outputs.full_version}}
        generate_release_notes: true
        fail_on_unmatched_files: true
        files: *.tar.gz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  report-build-result:
    needs: publish-release
    runs-on: ubuntu-latest
    steps:
    - name: Report Upload Urls
      run: |
        npm install @buckyos/test-server-client
        npx test-server-client seturl gateway ${{job.build-linux.outputs.short_version}} linux amd64 https://nosense ${{github.sha}}
      env:
        USERNAME: ${{ secrets.TEST_SERVER_USERNAME }}
        PRIVATE_KEY: ${{ secrets.TEST_SERVER_PRIVATE_KEY }}
        ENDPOINT: "https://buckyos.ai"